.card {
    display: flex;
    width: 1020px;
    height: 195px;
    border: 1px solid;
    border-radius: 20px;
    margin: auto;
    background: linear-gradient(to bottom right, rgba(0,0,255,0.6)5%,rgba(255,0,0,0.4))
}

.card2 {
    display: flex;
    width: 1000px;
    height: 175px;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to top right, rgba(0,0,0,0.1),rgba(255,255,255,0.5))
}

.left-container {
    width: 100px;
    margin: 10px 40px 10px 40px;
}

.card-title {
    font-weight: 900;
    font-family: monospace;
}

.column-container {
    display: flex;
    width: 10px;
}

.stats-title {
    font-weight: 300;
    font-family: monospace;
    margin-bottom: -10px;
}

.column {
    width: 200px;
    height: 100px;
    margin-top: 30px;
    margin-right: 30px;
}

.img {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #F2F3F4;
}

.stat {
    width: 100px;
    font-weight: 100;
    font-family: monospace;
}