:root {
    --darkblue: #142d4c;
    --lightblue: #385170;
    --lightgrey: #ececec;
    --turquoise: #9fd3c7;
}

#wrapper {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--lightgrey);
}

main,
header h1,
header p,
nav div,
footer p {
    width: 80%;
    margin: auto;
}

div#wrapper,
.full-width-bg {  
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

header {
    padding-top: 20px;
}

nav {
    margin-top: 20px;
}

header h1,
header p {
    color: var(--turquoise);
}

nav ul {
    display: flex;
}

nav div {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

footer {
    padding: 20px;
}

footer p {
    color: var(--turquoise);
}